<!DOCTYPE html>
<html>
    <head>
        <title>All posts</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    
    <body>
        <h1>Quora posts</h1>
        <% for(post of posts) {%>
            <div class="post">
                <h3 class="user">@<%= post.username %></h3>
                <h4 class="content"><%= post.content %></h4>
                <button><a href="posts/<%=post.id %>">See in details</a></button>
                <button><a href="posts/<%=post.id %>/edit">Edit</a></button>

                <form action="posts/<%=post.id %>?_method=DELETE" method="post" class="del">
                    <button>delete</button> 
                </form>
            </div>
        <% } %>
        <br><br>
        <button><a href="posts/new">Create New Post</a></button>
    </body>
</html>
